/* .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.one{
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #007bff;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
   animation-iteration-count:5;
 } 

/* .container-2{
    background-color: brown;
    height: 50vh;
    width: 50vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.one1{
    height: 25vh;
    width: 25vh;
    background-color: white;
    align-self: center;
} */
/* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */ 

  @keyframes ldio-jz7b09nmpt {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldio-jz7b09nmpt > div {
  transform-origin: 100px 100px;
  animation: ldio-jz7b09nmpt 0.25s infinite linear;
}
.ldio-jz7b09nmpt > div div {
    position: absolute;
    width: 14px;
    height: 70px;
    background: #f74b57;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
    
}
.ldio-jz7b09nmpt > div div:nth-child(1) {
    width: 53px;
    height: 53px;
    border-radius: 50%;
}
.ldio-jz7b09nmpt > div div:nth-child(6) {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50%;
}.ldio-jz7b09nmpt > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldio-jz7b09nmpt > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldio-jz7b09nmpt > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-mugfj141ehr {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  margin-left:44%;
  margin-top:20%;
}
.ldio-jz7b09nmpt {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-jz7b09nmpt div { box-sizing: content-box; }

