/* *{
  background-color: rgb(93, 185, 207);
  font-family: cursive;
  text-align: center;
}
button{
  padding: 10px 20px;
  border:2px solid black;
  background-color: white;
  font-size:40px;
}
input{
   padding: 10px 0px;
   width:200px;
  border:2px solid black;
  font-size:40px;
  background-color:rgb(48, 48, 48);
  color:white
}
button:hover{
  background-color: red;
  color:white
} */

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(204, 33, 33);
}

li {
  float: left;
}

#srh{
  padding: 30px;

} */

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.topnav {
  overflow: hidden;
  background-color: #e93a46;
}

.topnav span {
  float: left;
  display: block;
  color: rgb(255, 250, 250);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav .search-container {
  float: right;
  padding-top: 8px;
  
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.topnav .search-container button {
  float: right;
  margin-left:2px;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.rock{
  margin-top:40px;
  font-family: montserrat;
  
}
.rock > p{
  margin-left: 50px;
}

.link1{
    color: #13a7d4;
    text-decoration: none;
    background-color: transparent;
}
.link1:hover{
    text-decoration:underline;
}

.topnav span:hover {
  color: rgb(241, 245, 11);
}
